<%- include("admin-partials/admin-header.ejs") -%>

<main class="main-dashboard">
    <div class="container-fluid">
        <p class="fw-bold text-center" style="color: #1161d3; padding-top: 200px; font-size: 50px">
            Welcome!
        </p>
    </div>
</main>

<%- include("admin-partials/admin-footer.ejs") -%>