<!-- UPDATE Faculty (Button) -->
<button type="button"
        class="btn btn-warning"
        data-bs-toggle="modal"
        data-bs-target="#updateFaculty<%= faculty.email %>"><i class="bi bi-pen"></i>
</button>
<!-- UPDATE Faculty (Button) -->