<%- include("../../faculty-partials/faculty-header.ejs") -%>

<main class="main-dashboard">
    <div class="container-fluid">
        <p class="fw-bold text-center" style="color: #2ba956; padding-top: 200px; font-size: 50px">
            Grades!
        </p>
    </div>
</main>

<%- include("../../faculty-partials/faculty-footer.ejs") -%>