<%- include("student-partials/student-header.ejs") -%>

<main class="main-dashboard">
    <div class="container-fluid">
        <p class="fw-bold text-center" style="color: #9f339f; padding-top: 200px; font-size: 50px">
            Welcome!
        </p>
    </div>
</main>

<%- include("student-partials/student-footer.ejs") -%>