<%- include("student-partials/student-header.ejs") -%>

<main class="main-dashboard">
    <div class="container-fluid">
        <h1 class="fw-bold">
            Welcome!
        </h1>
    </div>
</main>

<%- include("student-partials/student-footer.ejs") -%>